<!DOCTYPE html>
<html lang="en">

<head>
    <title>Twitter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<body class="regPage">
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 regdiv">

                <form method="post" autocomplete="off">
                    <h2 class="text-center">
                        <i class="fab fa-twitter " style="font-size:35px;color:#1DA1F2"></i><br><br>
                        Join Twitter today</h2>
                    <hr>
                    <p class="text-center errorMsg">{{errorMsg}}</p>
                    <div class="form-group">
                        <input type="text" class="form-control twitterFormFileds" id="firstname" name="firstName" placeholder="Firstname" value="{{firstName}}"
                            required>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control twitterFormFileds" id="lastname" name="lastName" placeholder="Lastname" value="{{lastName}}"
                            required>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control twitterFormFileds" id="username" name="userName" placeholder="Username" value="{{userName}}"
                            required>
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control twitterFormFileds" id="email" name="email" placeholder="Email" value="{{email}}" required>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control twitterFormFileds" id="pwd" name="password" placeholder="Password" required>
                    </div>

                    <button type="submit" class="btn form-control formBtns">Register</button><br><br>
                    <p class="text-center"> Have an account already? <a href="/login">Log in</a></p>
                </form>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</body>
</html>